.hero {
  height: 50vh;
  width: 100%;
  background-color: goldenrod;
  background-image: url('../images/name-only.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  fill: goldenrod;
}